body {
-moz-osx-font-smoothing:grayscale;
-ms-flex-direction:column;
-webkit-box-direction:normal;
-webkit-box-orient:vertical;
-webkit-font-smoothing:antialiased;
background: darkgreen ;
color: white;
display:flex;
flex-direction:column;
font-family:Montserrat, sans-serif;
margin:0;
flex-direction: center;
justify-content: center;
align-items: center;
}

nav {
	margin: 0 auto;
	width: 100%;
	background: black;
	box-shadow:0 3px 15px rgba(0,0,0,.15);
}


nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

nav ul li a:hover, nav ul li a:focus {
	background: darkslategrey;
	display: block;
}



nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}
li:hover ul { display: block; z-index: 1;/*Sobrepor Camadas*/}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	background: transparent;
	color: white;
	border-bottom: 1px solid #DDE0E7/*black*/;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: darkslategrey;
}

.dropdown {
	display: none;
	position: absolute;
	background: black;
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}

h3{
	font-size: 18px;
	margin-bottom: -8px;
}